.main {
    width: 100vh;
    border: 1px solid #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: none;
    background-color: peru;
  }
.scoreboard {
    text-align: center;
}
.gameboard{
    
    background-color:white;
}
body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}
p {
    padding: 10px;
}
#btn.begin{
    padding: 20px 30px;
}

h2 {
    text-align: center;
}
.question {
    color:black;
}
.hide{
    display: none;
}
.answer{
    color:red;
}
div.answer:hover,
div.answer:active{
    color:white;
    background-color: blue;
}