.main {
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.center{
    display:flex;
    justify-content: center;

}
p {
    padding: 10px;
}
#btn.begin{
    padding: 20px 30px;
}
.welcome{
    position: absolute;
    top: 50%;
    height: 100px;
    margin-top: -50px;
    border: 1px solid black;
}
h2 {
    text-align: center;
}
.question {
    color:black;
}
.hide{
    display: none;
}
.answer{
    color:blue;
}
div.answer:hover,
div.answer:active{
    color:white;
    background-color: blue;
}